<!-- Dashboard Page for the approver to see all the applied claims and they can approve and reject -->
<div class="container mt-5" style="text-align:center">
  <div>
    <h3 style="color: orange">List of Claims</h3>
  </div>
  <p-table #dt [value]="response" [rows]="9" [paginator]="true" [scrollable]="true" [autoLayout]="true"
    [responsive]="true" dataKey="claimId" rowExpandMode="single">

    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%"></th>
        <th style="width:25%">Claim Id</th>
        <th style="width:25%">Claim Date</th>
        <th style="width:25%">Insurance Number</th>
        <th style="width:25%">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-approve>
      <tr>
        <td style="width:25%">
          <a [pRowToggler]="approve">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right' " aria-hidden="true"></i>
          </a>
        </td>
        <td style="width:25%">{{approve.claimId}}</td>
        <td style="width:25%">{{approve.claimDate}}</td>
        <td style="width:25%">{{approve.insuranceNumber}}</td>
        <td style="width:25%">
          <button class="btn btn-success btn-sm mr-1" icon="pi pi-check" (click)="openPopUp()">Approve</button>
          <button class="btn btn-danger btn-sm" icon="pi pi-times" (click)="cancel()">Reject</button>
        </td>
        <p-dialog header="Approve" [(visible)]="display" [modal]="true" [style]="{width: '350px', minWidth: '200px'}"
          [minY]="70" [maximizable]="true" [baseZIndex]="10000">
          <b>Comments </b> <input type="text" pInputText [(ngModel)]="comments" size="41" />
          <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="approves(approve.claimId,comments)"
              label="Approve"></button>
            {{approve.claimId}}
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel"
              class="ui-button-secondary"></button>
          </p-footer>
        </p-dialog>
        <p-dialog header="Are you sure want to reject?" [(visible)]="display1" [modal]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
          <b>Reason for Rejection </b> <input type="text" pInputText [(ngModel)]="reason" size="41" />
          <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="reject(approve.claimId,reason)"
              label="Reject"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display1=false" label="Cancel"
              class="ui-button-secondary"></button>
          </p-footer>
        </p-dialog>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-oe let-columns="columns">
      <tr>
        <td [attr.colspan]="10">
          <div class="ui-g ui-fluid" style="font-size:12px;">
            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Hospital Name : </b><span class="pcolor">{{oe.hospitalName}}
                </span></label>
            </div>
            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Admission Date : </b><span
                  class="pcolor">{{oe.admissionDate}}
                </span></label>
            </div>
            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Discharge Date : </b><span
                  class="pcolor">{{oe.dischargeDate}}
                </span></label>
            </div>

            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Total Claim Amount : </b><span
                  class="pcolor">{{oe.totalClaimAmount}}
                </span></label>
            </div>
            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Discharge Summary : </b><span
                  class="pcolor">{{oe.dischargeSummary}}
                </span></label>
            </div>
            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Diagnosis : </b><span class="pcolor">{{oe.diagnosis}}
                </span></label>
            </div>

            <div class="ui-g-12 ui-md-4" style="text-align:left">
              <label class="lcolor" for="exampleAccount"><b>Ailment Nature : </b><span
                  class="pcolor">{{oe.ailmentNature}}
                </span></label>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>