<!-- Designed a page for login which accepts Email Id and Password -->
<form [formGroup]="loginForm">
    <div>

        <div class="container mt-5 col-4" style="text-align:center">
            <p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
                <h3 style="color: orange">Login</h3>
                <div class="container mt-4">
                    <b>Email ID</b><br />
                    <input name="email" [(ngModel)]="email" type="text" size="30" pInputText formControlName="mail"
                        placeholder="Email ID"><br />
                    <span class="span-1" *ngIf="loginForm.get('mail').touched && !loginForm.get('mail').value">Email ID
                        Should
                        required</span><br />
                    <b>Password</b>
                    <input name="pass" [(ngModel)]="password" type="password" size="30" pInputText
                        formControlName="password" placeholder="Password"><br />
                    <span class="span-1"
                        *ngIf="loginForm.get('password').touched && !loginForm.get('password').value">Password Should
                        required</span>

                </div>
                <p-footer>
                    <button pButton type="button" label="Login" icon="pi pi-sign-in" style="margin-right: .25em"
                        (click)="logIn()"></button>
                </p-footer>
            </p-card>
        </div>
    </div>
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
</form>