<div class="container mt-5" align="center">

  <h3 style="color: orange">Successfully Applied For the Loan..!</h3><br />

  <div class="row" *ngFor="let data of userObject">
    <div class="col-6">
      <b>CIF No:{{data.cif}}</b>
    </div>
    <div class="col-6">
      <b>Loan Id:{{data.loanId}}</b>
    </div>
  </div><br /><br /><br />
  <marquee>
    <h5 style="color:blue">Your Login Credentilas has been sent to your registered Mobile No,you can login to view the
      loan details.
    </h5>
  </marquee>
</div>