<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <p-card>

        <div>
          <h4 style="color: orange">Introduction</h4>
          Headquartered in Amsterdam, Netherlands, its roots go back to 1743, when the company was first established
          as
          “Kooger Doodendos.” It was given the name ING as a result of a merger between Nationale-Nederlanden and NMB
          Postbank Group back in 1991.
          ING Bank is present globally with a strong European base. 54,000 employees serve around 38.4 million
          customers,
          corporate clients and financial institutions in over 40 countries. ING purpose is to empower people to stay a
          step
          ahead in life and in business.
        </div>
      </p-card>
    </div>
    <div class="col-6">
      <p-card>
        <div>
          <h3 style="color: orange">Background</h3>
          ING stands for Internationale Nederlanden Groep, which translates as “International Netherlands Group” in
          English.
          In 1881, ING's predecessor, Rijkspostspaarbank, helped 17-year-old Margaretha save her first cents in a
          savings
          account - the start of financial independence.

          The orange lion, a symbol of Dutch roots, adorns ING offices all around the world. Discover how ING started
          and
          the numerous mergers and acquisitions that created ING as it is today.
        </div>
      </p-card>
    </div>

    <div class="col-6">
      <p-card>
        <div>
          <h3 style="color: orange">ING Bank – Lion Logo, Color background</h3>
          The famous “orange lion” in ING’s logo is inspired from The House of Orange-Nassau, which clearly
          establishes its Dutch origins.
          ING’s orange lion goes back to the Dutch roots. Orange is the national color of the Netherlands, and the lion
          is the country’s national symbol.
          It also represents Dutch rich history, with several of the founding companies featuring lions in their logos.
          The government owned Rijkspostspaarbank, had the Dutch coat of arms.

        </div>
      </p-card>
    </div>
    <div class="col-6">
      <p-card>
        <div>
          <h3 style="color: orange">Mergers & Acquisitions</h3>
          ING's oldest businesses can be traced back to 1762 when John and Francis Baring started Barings Bank in
          London. ING took over Barings in 1995 after the 200-year-old investment bank was bankrupted by derivatives
          trader Nick Leeson.
          Barings bank’s first big client was Napoleon. What did this British bank do for the French statesman in 1803
          and how is ING related to what was once the UK’s most powerful investment bank.
          ING - the Internationale Nederlanden Groep - was created in 1991 with the merger of Dutch insurer
          Nationale-Nederlanden .

        </div>
      </p-card>
    </div>
  </div>
</div>