<div class="col-1">
  <button type="text" (click)="confirm()" pButton icon="pi pi-sign-out" label="LogOut" style="float:right">
  </button>
  <b class="b-1">Emp Management</b>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <img src="assets/ing1.png" alt="ING logo" width="150" height="50" />&nbsp;
  <a class="navbar-brand" routerLink=""><b>Emp Management</b></a>

  <button pButton label="Logout" (click)="logout()" routerLink="" icon="pi pi-sign-out"
    class="ui-button-primary ml-auto-1"></button>
</nav> -->