<div class="container mt-5">
  <h4>Applicant Loans</h4>
  <p-table [columns]="cols" [value]="loans">
    <ng-template pTemplate="header" let-columns>
      <tr align="center">
        <th>
          CIF ID
        </th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          {{cif}}
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td align="center">
          <button pButton label="View Loan Details" (click)="viewLoanDetails()"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>